<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the page</h1>
    <h2 id="dynamic"></h2>  
    <input type="text" id="mytext" required style="display:none;">
    <button id="start" onclick="sendMyMessages()" style="display:none;">START</button>
    <!-- <script>
        var x = document.getElementById("dynamic");
        var ws = new WebSocket("ws://127.0.0.1:8000/ws/sc/")
        ws.onopen = function(){
            console.log('New websocket connection open...');
        }
        ws.onmessage = function(event){
            console.log('message received from server...', event)
            x.innerHTML = event['data']
        }
        ws.onerror = function(event){
            console.log('websocket error occured...', event)
        }
        ws.onclose = function(event){
            console.log('websocket connection closed....', event)
        }
        function sendMyMessages() {
            ws.send("Hi, from the client.");
        }
    </script> -->
    <script>
        var x = document.getElementById("dynamic");
        var mytext = document.getElementById("mytext");
        var ws = new WebSocket("ws://127.0.0.1:8000/ws/sc/")
        ws.addEventListener('open', ()=>{
            console.log("Websocket connection opened...")
            ws.send("I am client");
        })
        ws.addEventListener('message', (event)=>{
            console.log("Websocket message received...", event)
            x.innerHTML = JSON.parse(event.data).count
        })
        ws.addEventListener('error', (event)=>{
            console.log("Websocket error occured...", event)
        })
        ws.addEventListener('close', (event)=>{
            console.log("Websocket connection closed...", event)
        })
        function sendMyMessages() {
            if (mytext.value){
            ws.send(mytext.value);
            }
        }
    </script>
</body>
</html>